@page "/company"
@page "/company/{id}"
@using ForagerTier1.Models
@using ForagerTier1.Persistance
@inject IJSRuntime JSRuntime;
@inject ICompanyService Companyservice
@inject NavigationManager NavigationManager


<div class="sellCont">
    <button type="submit" class="btn btn-warning" @onclick="@EditCompany">Edit</button>
    <button type="submit" class="btn btn-danger">Delete</button>
    <h1>@company.Name<span class="acc">.</span></h1>

    <div class="sellColum">
        <p>Cvr:</p>
        <h3>@company.Cvr</h3>
        <p>TrustScore:</p>
        <h3>@company.TrustScore</h3>
        <p>Number of votes:</p>
        <h3>@company.NumberOfVotes</h3>
        <p>Address:</p>
        <h3>@company.Address</h3>
        <p>Postcode:</p>
        <h3>@company.PostCode</h3>
        <p>Logo:</p>
        <h3>@company.Logo</h3>
        <p>ConnectionAddress:</p>
        <h3>@company.ConnectionAddress</h3>
    </div>
</div>

        @code {
            [Parameter]
            public string id { get; set; }
            Company company;

            protected override async Task OnParametersSetAsync()
            {
                CompanyService companyService = new CompanyService();
                company = (Company)companyService.GetCompany(id);
                await JSRuntime.InvokeVoidAsync("setTitle", "forager. | " + company.Name);
            }

            public void EditCompany()
            {
                NavigationManager.NavigateTo("/editcompany/" + id);
            }

        }
