@page "/find"
@page "/find/{search}"
@page "/find/{search}/{sequenceNumber:int}"
@using ForagerTier1.Models
@inject ISocketService SocketService
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager
@inject IRefreshService RefreshService
@implements IDisposable
<div class="page">
    <table class="searchMenu">
        <tr>
            <td>
                <h2>@SearchQuery.Query</h2>
                <p>Showing @SearchQuery.Listings.Count of @SearchQuery.Results:</p>
            </td>
            <td>
                <button class="listButton @(grid?"":"active")" @onclick="displayList"></button>
                <button class="gridButton @(grid?"active":"")" @onclick="displayGrid"></button>
            </td>
        </tr>
    </table>
    <div class="queryContainer">
        @foreach (Listing Listing in SearchQuery.Listings)
        {
            <div class="@(grid?"":"list") listing @(Listing.HasDelivery ? "Delivery" : "")" @onclick="@(e => openListing(@Listing.ListingId))">
                <div class="listingImage" style="background-image: url(@Listing.getCover());"></div>
                <p class="type">@Listing.Product.Name</p>
                <table>
                    <tr>
                        <td>
                            <p class="attr">Price:</p>
                            <p class="price">@Listing.Price</p>
                        </td>
                        <td>
                            <p class="attr">Quantity:</p>
                            <p class="weight">@Listing.Quantity @Listing.Unit</p>
                        </td>
                        @if (!grid)
                        {
                            <td class="bestByHeight">
                                <p class="attr">Best before:</p><br />
                                <p class="bestBy">@Listing.getDate()</p>
                            </td>
                        }
                    </tr>
                </table>

                @if (grid)
                {
                    <p class="attr">Best before:</p><br />
                    <p class="bestBy">@Listing.getDate()</p>
                }

            </div>
        }
        <button @onclick="@Test">Load more Listings</button>
    </div>
</div>

@code {
    [Parameter]
    public string search { get; init; }

    [Parameter]
    public int sequenceNumber { get; set; }

    [CascadingParameter]
    public EventCallback EventName { get; set; }

    private void RefreshMe()
    {
        Console.WriteLine("RefreshMe()");
        //StateHasChanged();
        LazyFilterSearch();
    }

    public void Test()
    {
        sequenceNumber += 2; //hardcode issue #patrick //for at den kan søge inden sekvensnummer parametren bliver sat (i OnParametersSetAsync)
        EventName.InvokeAsync();
        LazyFilterSearch();
    }


    bool grid = true;
    SearchQuery SearchQuery;
    SearchQuery NewSearchQuery;
    public string filter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //RefreshService = new RefreshService();
        RefreshService.RefreshRequested += RefreshMe;
        Console.WriteLine("In OnInitializedAsync() in Find.raxzor");
        await LazyFilterSearch();
    }

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("in OnParametersSetAsync() in Find.razor");
        filter = "none";

        // LazyFilterSearch();
        //SearchQuery = (SearchQuery)SocketService.Search(search);
        await JSRuntime.InvokeVoidAsync("setTitle", "forager. | " + search);
        //await JSRuntime.InvokeVoidAsync(user.ToString());
    }

    public async Task LazyFilterSearch()
    {

        // sequenceNumber = sequenceNumber + 2; //hardcode fix #patrick
        Console.WriteLine("Now sequenceNumber is " + sequenceNumber + " greetings from Find.razor");


        if (SearchQuery == null)
        {
            SearchQuery = new SearchQuery(); Console.WriteLine("SearchQuery was null");
        }

        Console.WriteLine("in LazyFilterSearch() in Find.razor where sequencenumber is now " + sequenceNumber);
        NewSearchQuery = (SearchQuery)SocketService
                .LazyFilterSearch(search, filter, sequenceNumber);

        //sequenceNumber += 2; //TODO Patrick hardcode issue

        if (sequenceNumber > 0)
        {
            foreach (Listing listing in NewSearchQuery.Listings)
            {
                SearchQuery.Listings.Add(listing);
            }
        }
        else
        {
            SearchQuery = NewSearchQuery;
        }
    }

    public async void Filter()
    {
        sequenceNumber = 0;
        await LazyFilterSearch();
    }

    public void displayGrid()
    {
        grid = true;
    }
    public void displayList()
    {
        grid = false;
    }
    public void openListing(int id)
    {
        NavigationManager.NavigateTo($"/listing/{id}");
    }

    public void Dispose()
    {
        //editContext.OnFieldChanged -= fieldChanged;
        RefreshService.RefreshRequested -= RefreshMe;
    }

}
