@page "/"
@page "/{loggedIn}"
@using ForagerTier1.Models
@using ForagerTier1.Pages
@using ForagerTier1.Persistance
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ISocketService SocketService
@inject ICompanyService CompanyService
@inject IUserService UserService


<h1 class="related">Newest listings</h1>
<div class="relatedCont">
    @foreach (Listing Listing in RecommendedListings)
    {
        <div class="listing @(Listing.HasDelivery ? "Delivery" : "")" @onclick="@(e => openListing(@Listing.ListingId))">
            <div class="listingImage @(Listing.CompanyId == CompanyId?"MyListing":"")" style="background-image: url(@Listing.getCover());"></div>
            <p class="type">@Listing.Product.Name</p>
            <table>
                <tr>
                    <td>
                        <p class="attr">Price:</p>
                        <p class="price">@Listing.Price</p>
                    </td>
                    <td>
                        <p class="attr">Quantity:</p>
                        <p class="weight">@Listing.Quantity @Listing.Unit</p>
                    </td>
                </tr>
            </table>
            <p class="attr">Best before:</p><br />
            <p class="bestBy">@Listing.getDate()</p>

        </div>
    }
</div>
<div class="block">
    <h1 class="infoCont">
        Reduce Foodwaste<span class="acc">.</span><br />
        Buy Responsibly<span class="acc">.</span>
    </h1>
    <h3 class="infoCont">
        Resturants are responsible for more than <span class="acc">20%</span> of the total foodwaste in Denmark.
    </h3>
    <h2 class="infoCont">
        Use <span class="bold">forager<span class="acc">.</span></span> to <span class="bold">sell excess</span> of resources and <span class="bold">buy locally</span> from other resturants<span class="acc">.</span>
    </h2>
</div>
<div class="banner"></div>
@code{
    [Parameter]
    public bool? loggedIn { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    int CompanyId = -1;

    List<Listing> RecommendedListings = new List<Listing>();


    protected override async Task OnParametersSetAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
            CompanyId = ((User)((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetCashedUser()).CompanyId;

        RecommendedListings = (List<Listing>)SocketService.Search(null).Listings;

    }
    public void openListing(int id)
    {
        NavigationManager.NavigateTo($"/listing/{id}");
    }
}