@page "/sell"
@inject ISocketService SocketService
@inject IUserService UserService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@using ForagerTier1.Models
@using ForagerTier1.Persistance

<AuthorizeView>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
    <Authorized>
        <h3>Sell</h3>
        <div>
            <EditForm Context="Category" Model="@newProductCategory">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    Category:<br />
                    <select @onchange="@((arg) => updateCategory(arg))">
                        <option value="" selected disabled hidden>Choose here</option>
                        @foreach (string pc in productCategories)
                        {
                            <option value="@pc">@pc</option>
                        }
                    </select>
                </div>
            </EditForm>
            <EditForm Context="Listing" Model="@newListing" OnValidSubmit="AddNewListing">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    Product:<br />
                    <select @bind="newProduct" required>
                        @if (productsToShow.Count == 0)
                        {
                            <option value="" disabled>Pick category first</option>
                        }
                        else
                        {
                            @foreach (Product pc in productsToShow)
                            {
                                <option value="@pc.ProductId.ToString()">@pc.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    Price<br />
                    <InputNumber @bind-Value="newListing.Price" @bind-Value:format="F2" />
                </div>

                <div class="form-group">
                    Quantity<br />
                    <InputNumber @bind-Value="newListing.Quantity" @bind-Value:format="F2" />
                </div>

                <div class="form-group">
                    Unit<br />
                    <InputSelect @bind-Value="newListing.Unit">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="g">g</option>
                        <option value="kg">kg</option>
                        <option value="l">L</option>
                        <option value="ml">ml</option>
                        <option value="pcs">pcs.</option>
                    </InputSelect>
                </div>

                <div class="form-group">
                    Best Before:<br />
                    <input type="date" @onchange="@((arg) => changeDate(arg))" required />
                </div>

                <div class="form-group">
                    Address:<br />
                    <InputText @bind-Value="newListing.PickupAddress" />
                </div>

                <div class="form-group">
                    Postcode:<br />
                    <InputText @bind-Value="newListing.Postcode" />
                </div>


                <div class="form-group">
                    Has delivery<br />
                    <InputSelect @bind-Value="hasDeliveryAsString">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option value="true">true</option>
                        <option value="false">false</option>
                    </InputSelect>
                </div>

                <div class="form-group">
                    Images<br />
                    <p>
                        <InputFile OnChange="@OnInputFileChange" multiple />
                    </p>

                    @if (imageDataUrls.Count > 0)
                    {
                        <h4>Images</h4>

                        <div class="card" style="width:30rem;">
                            <div class="card-body">
                                @foreach (var imageDataUrl in imageDataUrls)
                                {
                                    <img class="rounded m-1" src="@imageDataUrl" />
                                }
                            </div>
                        </div>
                    }
                    <img src="@urlString"/>
                </div>

                <!--
                <div class="form-group">
                    Pictures<br />
                    <InputText bind-Value="newListing.PictureList" />
                </div>
                -->


                <div class="form-group">
                    Comment<br />
                    <InputTextArea rows="2" @bind-Value="newListing.Comment" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </EditForm>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    private string newProductCategory = "";
    private string newProductCategoryCache = "";
    private List<Product> products;
    private List<Product> productsToShow = new List<Product>();
    private List<string> productCategories;
    private string newProduct = "";
    private Listing newListing = new Listing();
    private DateTime date = DateTime.Now;
    private string hasDeliveryAsString;

    IList<string> imageDataUrls = new List<string>();
    IList<IBrowserFile> images = new List<IBrowserFile>();
    string urlString;

    protected override async Task OnParametersSetAsync()
    {
        products = SocketService.GetProducts();
        productCategories = SocketService.GetProductCategories();
    }

    public void AddNewListing()
    {
        TrySubmit();
        newListing.HasDelivery = hasDeliveryAsString.Equals("true");
        newListing.ProductId = Int32.Parse(newProduct);
        newListing.UserId = ((User)((CustomAuthenticationStateProvider)AuthenticationStateProvider).GetCashedUser()).UserId;
        string id = SocketService.CreateListing(newListing);

        NavigationManager.NavigateTo("/listing/" + id);
    }

    public void updateCategory(ChangeEventArgs e)
    {
        productsToShow.Clear();
        newProductCategoryCache = e.Value.ToString();
        foreach (Product p in products)
        {
            if (p.ProductCategory.Equals(newProductCategoryCache))
                productsToShow.Add(p);
        }
    }
    public void TrySubmit()
    {
        newListing.Product = products.Find(c => c.ProductId == Int32.Parse(newProduct));
        newListing.Product.ProductCategory = newProductCategoryCache;
        newListing.StartDate = DateTime.Now.Ticks + "";
    }

    public void changeDate(ChangeEventArgs e)
    {
        Console.WriteLine(e.Value.ToString());
        string[] d = e.Value.ToString().Split("-");
        newListing.BestBefore = new DateTime(int.Parse(d[0]), int.Parse(d[1]), int.Parse(d[2])).Ticks + "";
    }

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        var maxAllowedFiles = 8;
        var format = "image/png";

        foreach (var imageFile in e.GetMultipleFiles(maxAllowedFiles))
        {
            var resizedImageFile = await imageFile.RequestImageFileAsync(format,800,800);
            var buffer = new byte[resizedImageFile.Size];
            await resizedImageFile.OpenReadStream().ReadAsync(buffer);
            var imageDataUrl =
                $"data:{format};base64,{Convert.ToBase64String(buffer)}";
            imageDataUrls.Add(imageDataUrl);
            images.Add(imageFile);
        }
        urlString = SocketService.UploadImageTest(images);
    }
}